<%= form_for(@flow) do |f| %>
  <% if @flow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flow.errors.count, "error") %> prohibited this flow from being saved:</h2>

      <ul>
      <% @flow.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.text_field :to %>
  </div>
  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
