<h1>Listing flows</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @flows.each do |flow| %>
  <tr>
    <td><%= flow.from %></td>
    <td><%= flow.to %></td>
    <td><%= flow.references %></td>
    <td><%= link_to 'Show', flow %></td>
    <td><%= link_to 'Edit', edit_flow_path(flow) %></td>
    <td><%= link_to 'Destroy', flow, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flow', new_flow_path %>
